In [1]:
from apiclient.discovery import build #pip install google-api-python-client
from apiclient.errors import HttpError #pip install google-api-python-client
#from oauth2client.tools import argparser #pip install oauth2client
import pandas as pd #pip install pandas
import argparse

In [2]:
DEVELOPER_KEY = "AIzaSyBwzR43UIbgGS6RWt9w5UPG6hW5ur6PtZ0" 
YOUTUBE_API_SERVICE_NAME = "youtube"
YOUTUBE_API_VERSION = "v3"

In [3]:
query=input()

cricket

In [4]:
parser = argparse.ArgumentParser(description='Search on YouTube')
parser.add_argument("--q", help="Search term", default=query)
parser.add_argument("--max-results", help="Max results", default=100)
args, unknown = parser.parse_known_args()
options = args

In [5]:
youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)

In [6]:
# Call the search.list method to retrieve results matching the specified
 # query term.
search_response = youtube.search().list(
 q=options.q,
 relevanceLanguage= "en",
 type="video",
 part="id,snippet",
 maxResults=options.max_results
).execute()

In [7]:
videos = {}
v={}

In [8]:
# Add each result to the appropriate list, and then display the lists of
 # matching videos.
 # Filter out channels, and playlists.
for search_result in search_response.get("items", []):
    if search_result["id"]["kind"] == "youtube#video":
        videos[search_result["id"]["videoId"]] = search_result["snippet"]["title"]
        v[search_result["id"]["videoId"]] = search_result["snippet"]["channelTitle"]
    #videos.append("%s" % (search_result["id"]["videoId"]))

In [9]:
df1 = pd.DataFrame.from_dict(v,orient ='index')
df1.reset_index(level=0, inplace=True)
df1.rename(columns = {'index':'v_id',0:'channelTitle'}, inplace = True)
df1.head()

          v_id                   channelTitle
0  hIlRL2TcnF0                 cricket.com.au
1  2As3tWQhIjs                 Ulloor Cricket
2  Y1J9_9-vNcU  England & Wales Cricket Board
3  xkACSF-NlR8                 cricket.com.au
4  eoZ6pBSBx3Q                        SonyLIV

In [10]:
df = pd.DataFrame.from_dict(videos,orient ='index')
df.reset_index(level=0, inplace=True)
df.rename(columns = {'index':'v_id',0:'v_title'}, inplace = True)
df.head()

          v_id                                            v_title
0  hIlRL2TcnF0  Scorchers too strong for &#39;Gades in Marvel ...
1  2As3tWQhIjs  Cricket | Kandhili 1 Lakh Tournament | KingMak...
2  Y1J9_9-vNcU  India Claim Thrilling Win! | England v India -...
3  xkACSF-NlR8  Sixers edge home over Strikers in tense final ...
4  eoZ6pBSBx3Q  Melbourne Renegades vs Perth Scorchers | Highl...

In [11]:
df_new = pd.merge(df1, df, on="v_id")
df_new.head()

,v_id,channelTitle,v_title
0,hIlRL2TcnF0,cricket.com.au,Scorchers too strong for &#39;Gades in Marvel ...
1,2As3tWQhIjs,Ulloor Cricket,Cricket | Kandhili 1 Lakh Tournament | KingMak...
2,Y1J9_9-vNcU,England & Wales Cricket Board,India Claim Thrilling Win! | England v India -...
3,xkACSF-NlR8,cricket.com.au,Sixers edge home over Strikers in tense final ...
4,eoZ6pBSBx3Q,SonyLIV,Melbourne Renegades vs Perth Scorchers | Highl...

In [12]:
dt =  df_new.set_index('v_id').T.to_dict('list')
s = ','.join(dt.keys())

In [13]:
videos_list_response = youtube.videos().list(
 id=s,
 part='id,statistics'
).execute()

In [14]:
#videos_list_response['items'].sort(key=lambda x: int(x['statistics']['likeCount']), reverse=True)
#res = pd.read_json(json.dumps(videos_list_response['items']))
res = []
for i in videos_list_response['items']:
    temp_res = dict(v_id = i['id'])
    temp_res.update(i['statistics'])
    res.append(temp_res)
stats = pd.DataFrame.from_dict(res)
#print(res)

In [15]:
stats.head()

          v_id viewCount likeCount favoriteCount commentCount
0  hIlRL2TcnF0    277437      7875             0          174
1  2As3tWQhIjs     10975       771             0          198
2  Y1J9_9-vNcU  34561920    767808             0        39552
3  xkACSF-NlR8    442351     11167             0          169
4  eoZ6pBSBx3Q    286785      6567             0           90

In [16]:
df_final = pd.merge(df_new, stats, on="v_id")
df_final.head()

,v_id,channelTitle,v_title,viewCount,likeCount,favoriteCount,commentCount
0,hIlRL2TcnF0,cricket.com.au,Scorchers too strong for &#39;Gades in Marvel ...,277437,7875,0,174
1,2As3tWQhIjs,Ulloor Cricket,Cricket | Kandhili 1 Lakh Tournament | KingMak...,10975,771,0,198
2,Y1J9_9-vNcU,England & Wales Cricket Board,India Claim Thrilling Win! | England v India -...,34561920,767808,0,39552
3,xkACSF-NlR8,cricket.com.au,Sixers edge home over Strikers in tense final ...,442351,11167,0,169
4,eoZ6pBSBx3Q,SonyLIV,Melbourne Renegades vs Perth Scorchers | Highl...,286785,6567,0,90

In [17]:
df_final.shape

(50, 7)